* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style: none;
}

body {
  background-color: #000;
  color: #fff;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 300px;
  background-color: #121212;
  padding: 24px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav-logo i {
  font-size: 24px;
}

.nav-library {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-library i,
.nav-library p {
  font-size: 14px;
  color: #b7b3b6;
  cursor: pointer;
}

.nav-playlist,
.nav-podcast {
  background-color: #242424;
  padding: 16px;
  border-radius: 8px;
}

.nav-playlist button,
.nav-podcast button {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 6px 10px;
  margin-top: 16px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 20px;
}

.nav-playlist p,
.nav-podcast p {
  font-size: 12px;
}

.nav-footer {
  margin-top: auto;
}

.nav-footer a {
  color: #a7a7a7;
  text-decoration: none;
  font-size: 12px;
  margin-right: 12px;
  margin-bottom: 8px;
}

.nav-lang-button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 8px 12px;
  margin-top: 16px;
  cursor: pointer;
  border-radius: 20px;
}

main {
  padding: 24px;
  flex-grow: 1;
  overflow-y: auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 30px;
}

.header-center {
  display: flex;
  align-items: center;
  gap: 15px;
  flex: 1;
  justify-content: center;
}

.search-home {
  cursor: pointer;
  background-color: #242424;
  padding: 8px 16px;
  border-radius: 20px;
  width: 50px;
}

.search-bar {
  display: flex;
  background-color: #242424;
  padding: 8px 16px;
  border-radius: 20px;
  width: 300px;
}

.search-bar input {
  background-color: transparent;
  border: none;
  color: #fff;
  width: 100%;
  margin-left: 10px;
  outline: none;
}

.header-buttons {
  display: flex;
  gap: 10px;
}

.btn {
  background-color: transparent;
  color: #fff;
}

.btn:hover {
  background-color: #fff;
  color: #000;
}

.btn-enter {
  background-color: #fff;
  color: #000;
}

.btn-enter:hover {
  background-color: transparent;
  color: #fff;
}

.btn,
.btn-enter {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  min-width: 100px;
  text-align: center;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
}

.artists-grid,
.albums-grid,
.musics-grid,
.radio-grid,
.top-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 24px;
  margin-bottom: 40px;
}

.artist-card,
.album-card,
.musics-card,
.radio-card,
.top-card {
  background-color: #181818;
  padding: 16px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.artist-card:hover,
.album-card:hover,
.musics-card:hover,
.radio-card:hover,
.top-card:hover {
  background-color: #282828;
}

.artist-card img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 16px;
  max-height: 70%;
}

.album-card img,
.musics-card img,
.radio-card img,
.top-card img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 16px;
  max-height: 70%;
}

.album-card h3,
.artist-card h3,
.musics-card h3,
.radio-card h3,
.top-card h3 {
  font-size: 12px;
}

.artist-card p,
.album-card p,
.musics-card p,
.radio-card p,
.top-card p {
  font-size: 10px;
  color: #b7b3b6;
}

.content {
  margin-top: 40px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #0a0909;
  padding: 40px;
  border-top: 1px solid #242424;
}

.footer ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0;
  padding: 0;
}

.footer .bold {
  font-size: 1rem;
  font-weight: 600;
}

.footer .social-media {
  display: flex;
  gap: 16px;
  align-items: center;
}

.footer .social-media img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  cursor: pointer;
}
